# No R session state files 
.RData
.Rhistory

# No IDE files
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# No BLAST indexes
*.nhr
*.nin
*.nsq

# No OSX cruft
.DS_Store

# skip darwincore archive contents
Multimedia.txt
Taxa.txt
Vernacular_Names.txt
eml.xml
meta.xml
