# No R helper files
.RData
.Rhistory
*.Rproj
.Rproj.user

# No IDE files
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# No BLAST indexes
*.nhr
*.nin
*.nsq

# No OSX cruft
.DS_Store

# skip darwincore archive contents
Multimedia.txt
Taxa.txt
Vernacular_Names.txt
eml.xml
meta.xml

# no jupyper notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*


# no virtual environments
venv

# no private files from klasse
klasse

# no logs
logs/

# no lock files
.~lock.*

# location to generate the database without having to git/lfs to inflate the git objects
# due to sqlite's log or journal file changes
data/sqlite/ignored/